body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 50%;
    height: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.formOptions{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#sendButtonForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 5rem;
}

#opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 5rem;
}

#meuInputForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 10rem;
}